#calendar-container .nav {
  margin-top: 0;
  margin-bottom: 0;
}

#calendar-container tr th {
  padding-top: 0px;
  padding-bottom: 0px;
}

#calendar-container .day {
  padding-top: 0px;
  padding-bottom: 0px;
}

#calendar-container .today {
  color: #948adc;
}
