/* taskList() 在 pin 中取消基础 padding-left、颜色修改、彩虹线 */
ignore-next-dv + div > .dataview.result-group,
ignore-next-dv + div > .dataview.result-group > ul.contains-task-list {
  padding-left: 8px;
}
ignore-next-dv + div > .dataview.result-group li {
  color: rgb(201, 218, 250) !important;
  padding-left: 5px !important;
}
ignore-next-dv + div > .dataview.result-group ul ul {
  border-left: 2px dashed rgba(122, 136, 207, 0.25);
}

/* 隐藏 ignore-next-dv 后的 header */
ignore-next-dv + div > h4 {
  display: none !important;
  color: red !important;
}

/* table */
.table-view-table tr > td,
.table-view-table tr > th {
  border: 1px solid #3c3942 !important;
}
.table-view-table tr > th {
  border-bottom: 2px solid #504c5e !important;
  border-top: 2px solid #504c5e !important;
}
.table-view-table tr > td:first-child,
.table-view-table tr > th:first-child {
  border-left: 0px !important;
}
.table-view-table tr > td:last-child,
.table-view-table tr > th:last-child {
  border-right: 0px !important;
}

.trim-cols .markdown-source-view.mod-cm6 .table-view-table > tbody > tr > td {
  white-space: initial;
}

.markdown-preview-view table.dataview.table-view-table {
  margin-left: auto;
  margin-right: auto;
}
