.obsidian-metatable::part(tag) {
  background-color: rgba(65, 105, 225, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-weight: 900;
}

.obsidian-metatable::part(internal-link) {
  color: #b2a2f7;
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent, transparent),
    url(public/images/874d8b8e340f75575caa.svg);
  padding-right: 16px;
  background-position-y: 2px;
}

.obsidian-metatable {
  background-color: rgba(87, 72, 72, 0.3);
  border-radius: 5px;
  --metatable-key-background: transparent;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  padding-left: 5px;
}

.obsidian-metatable::part(value) {
  overflow: hidden;
}

.markdown-preview-view table {
  margin-block-start: 0em;
}
.markdown-rendered table {
  margin-bottom: 0px;
}

.obsidian-metatable summary {
  font-size: 12px;
  color: gray;
}
