/* * Hide the metadata that is empty */
.metadata-property:has(.metadata-property-value .mod-truncate:empty),
.metadata-property:has(
    .metadata-property-value
      input.metadata-input[type="number"]:placeholder-shown
  ),
.metadata-property[data-property-type="text"]:has(input[type="date"]),
.metadata-property:has(
    .metadata-property-value
      .multi-select-container
      > .multi-select-input:first-child
  ) {
  display: none;
}

/* * visualize the last metadata property.
   * Make sure to enable Button: add document attribution */
div.view-content
  div.metadata-content
  > div.metadata-properties
  > div.metadata-property:last-child {
  /* background-color: var(--bg2); */
  display: flex;
}

/* * Hide the hold metadata table if `hide` is `true` */
.metadata-container:has(
    .metadata-property[data-property-key="hide"] input[type="checkbox"]:checked
  ) {
  display: none;
}

/* * Custom: Force visible */
.metadata-property[data-property-key="variant"],
.metadata-property[data-property-key="aliases"],
.metadata-property[data-property-key="tags"],
.metadata-property[data-property-key="weread"],
.metadata-property[data-property-key="finishDate"],
.metadata-property[data-property-key="douban"] {
  display: flex !important;
}

/* * Custom: Force invisible */
.metadata-property[data-property-key="coverURL"],
.metadata-property[data-property-key="doubanDataTime"],
.metadata-property[data-property-key="kindle-sync"],
.metadata-property[data-property-key="ISBN"] {
  display: none !important;
}
