.workspace-tabs:has(.workspace-tab-header.is-active[aria-label^="@"])
  .metadata-property[data-property-key="title"]
  .metadata-property-key::after,
.workspace-tabs:has(.workspace-tab-header.is-active[aria-label^="@"])
  .metadata-property[data-property-key="url"]
  .metadata-property-key::after {
  content: "";
  background-image: url("https://s2.loli.net/2024/01/25/bgeSniU8vqKfXa5.png");
  background-size: 20px;
  width: 36px;
  height: 20px;
  position: relative;
  left: -84%;
  top: 4px;
  z-index: -100;
  opacity: 0.5;
  background-repeat: no-repeat;
}

.workspace-tabs:has(.workspace-tab-header.is-active[aria-label^="@"])
  .metadata-property[data-property-key="title"]
  svg,
.workspace-tabs:has(.workspace-tab-header.is-active[aria-label^="@"])
  .metadata-property[data-property-key="url"]
  svg {
  visibility: hidden;
}
