/* Hide the metadata that is empty */
.metadata-property:has(.metadata-property-value .mod-truncate:empty),
.metadata-property:has(
    .metadata-property-value
      .multi-select-container
      > .multi-select-input:first-child
  ) {
  display: none;
}

/* Make sure to enable Button: add document attribution */
div.view-content
  div.metadata-content
  > div.metadata-properties
  > div.metadata-property:last-child {
  background-color: var(--bg2);
  display: flex;
}

div.metadata-property[data-property-key="weread"],
div.metadata-property[data-property-key="finishDate"],
div.metadata-property[data-property-key="douban"] {
  display: flex !important;
}

.metadata-property:has(
    .metadata-property-key .metadata-property-key-input[aria-label="coverURL"]
  ) {
  display: none;
}
.metadata-property:has(
    .metadata-property-key .metadata-property-key-input[aria-label="ISBN"]
  ) {
  display: none;
}
.metadata-property:has(
    .metadata-property-key
      .metadata-property-key-input[aria-label="kindle-sync"]
  ) {
  display: none;
}

.metadata-container:has(
    .metadata-property[data-property-key="hide"] input[type="checkbox"]:checked
  ) {
  display: none;
}
