.quiet-outline .n-tree .n-tree-node-content .n-tree-node-content__text {
  border-bottom: 0.1px solid var(--link-color);
  /* background-image: linear-gradient(to bottom, var(--link-color), transparent);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: bottom; */
}

/* Render the ob-timelines span or div elements as inline blocks that use an italic font */
.ob-timelines {
  display: inline-block !important;
  font-style: italic;
}
/* Use the before pseudo element to display attributes of the span or div */
.ob-timelines::before {
  /* content: "🔖 " attr(data-date) ": " attr(data-title) ". "; */
  color: lilac;
  font-weight: 500;
}
